{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Modifie Boutique{% endblock %}

{% block contenue %}


    <h1>Modification de la  Boutique:{{ boutique.nomBoutique }} </h1>

    {{ include('admin/boutique/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('boutique_index') }}">back to list</a>

    {{ include('admin/boutique/_delete_form.html.twig') }}
{% endblock %}
